{
  "prettier/prettier": [
    "error",
    {
      "semi": false,
      "singleQuote": false,
      "usePrettierrc": false,
      "trailingComma": "all",
      "printWidth": 100,
      "tabWidth": 2,
      "arrowParens": "avoid",
      "endOfLine": "auto"
    }
  ]
}